<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JsonPage</title>
</head>
<body>
    <div>
        <h1>
            {
            Name: @Request.QueryString["developer"],
            Company: XYZ
            }
        </h1>
    </div>
</body>
</html>
